@font-face {
	font-family: "league-gothic";
	src: url('../fonts/LeagueGothic-Regular.otf');
}
body, .open-sans {
	font-family: "OpenSansRegular";
}
.league-gothic {
	font-family: "league-gothic";
}
